@font-face {
  font-family: 'BrotherXL';
  src: url('./fonts/Brother_XL_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'BrotherXL', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('./FC_logo.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  position: relative;
}
.container {
  text-align: center;
}
#result {
  font-size: 9rem;
  font-weight: bold;
  margin-bottom: 50px;
  display: inline-block;
  transition: all 0.3s ease;
}
#drawButton {
  width: 80px;
  height: 80px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  transition: all 0.3s ease;
}
#drawButton:hover {
  border-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
}
#historyContainer {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2.1rem;
  text-align: center;
}
#historyList {
  list-style: none;
  padding: 0;
  margin: 0;
}
#historyList li {
  transition: all 0.3s ease;
  margin: 3px;
}

/* 左下の△ボタン */
#linkButton {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 69px solid rgba(255, 255, 255, 0.3); /* 三角形の色 */
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
#linkButton:hover {
  border-bottom-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
}
